.is-muted {
    color: $grey-light !important;
}

a.is-muted:hover {
    color: $grey !important;
}

.no-padding {
    padding: 0px !important;
}

.round-edges {
    border-radius: 10px;
}

.navbar-item img {
    max-height: 3.8rem;
}

.navbar-brand .brand-item {
    margin-right: 0px;
    @include desktop {
        margin-right: 15px;
    }
}
